:root {
    --primary-color: #64A662;
    --secondary-color: #3FFF38;
    --tertiary: #22E61C;

    --complementary-primary-color: #990054;
    --complementary-secondary-color: #E61C8A;

    --background-color: #fafffa;
    --background-color-darken:  #e3e5e3;
}


html{
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    padding: 0 25px 0 0;
}

a {
    text-decoration: none;
    color: black;
}

article{
    display: flex;
    flex-direction: column;
    width: 95%;
    align-self: center;
}
article section{
    align-self: center;
    width: 50%;
    margin-right: 50px;
}

#app-ctn {
    display: flex;
    width: 100%;
    justify-content: center;
    padding:  50px 0 50px 0;
}

#app {
    width: 60%;
    padding: 25px;
    background-color: var(--background-color);
    box-shadow: 0 0 5px 0.1px rgba(0,0,0,0.75);
    border-radius: 25px;
}

#app > h1 {
    color: black;
    font-size: 2em;
}

.copy-btn {
    width: 2rem;
    background-color: var(--background-color-darken);
    border: 1px solid lightgrey;
    border-radius: 12px;
    transition: 0.3s;
}
.copy-btn:hover {
    border: 1px solid black;
}
.copy-btn img {
    width: 1rem;
}
.copy-placeholder {
    margin-top: 5px;
    padding: 5px;
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--background-color-darken);
    border-radius: 12px;
}

.fade{
    animation: fade 0.3s linear;
}

@keyframes fade {
  from { opacity: 1 }
  to { opacity: 0 }
}

.toast{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 250px;
    visibility: hidden;
    border-radius: 1vh;
    transition: opacity 0.3s;
    margin-top: 10px;
    box-shadow: 0 0 2px 1px var(--complementary-secondary-color);
}
.toasted{
    background-color: var(--background-color-darken);
    visibility: visible;
}

#toaster{
    position: absolute;
    right: 0px;
    top: 10vh;
    width: 300px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.sidebar-ctn {
    position: fixed;
    display: flex;
    height: 100%;
    overflow: visible;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 25px 0 25px 0;
}
.sidebar {
    display: flex;
    flex-direction: column;
    
    width: 300px;
    height: 95vh;
    border-radius: 0 25px 25px 0;
    overflow: hidden;
    margin-left: -275px;
    transition: margin-left 0.5s;

    background-color: var(--background-color-darken);

    box-shadow: 0 0 10px 1px rgba(0,0,0,0.75);
}
.sidebar .header {
    display: flex;
    justify-content: space-between;
    max-height: 3rem;
    align-items: center;
    padding: 0 25px 0 25px;
}
.sidebar .header img {
    height: 2rem;
    width: 2rem;
}

.sidebar .body {
    display: flex;
    flex-grow: 1;
    width: 90%;
    overflow: hidden;
    background-color: var(--background-color);
    border-radius: 0 25px 25px 0;
}
.body nav {
    width: 100%;
}
.body nav a {
    display: block;
    width: 100%;
    padding: 20px 0 20px 25px;
}
.body nav a:hover {
    display: block;
    width: 100%;
    background-color: var(--primary-color);
}

.sidebar:hover {
    margin-left: 0;
}

.sidebar-pinned {
    margin-left: 0 !important;
}
.pin-pinned {
    background-color: var(--background-color);
    border-radius: 100%;
}

.sidebar .footer {
    display: flex;
    max-height: 3rem;
    align-items: center;
    padding-left: 25px;
}

.sidebar .extremity {
    display: flex;
    max-height: 3rem;
    align-items: center;
}

.sidebar .items {
    padding-left: 25px;
}