/.vscode

/node_modules
/dist
/public

# file: ~/.gitignore_global
.DS_Store
.idea

# Sublie Text
*.sublime-project
*.sublime-workspace

# yarn
yarn.lock
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
