@use "../utilities/mediaSize" as ms;

.box {
    background-color: var(--scheme-bg);
    border-radius: 0.75em;
    margin: .5rem;
    padding: 1.5rem;
}

.projects {
    .box {
        height: 128px;
        width: 40%;
        display: flex;
        flex-direction: row;
    }
    @include ms.until( ms.$desktop) {
        .box {
          flex-direction: column;
        }
    }
}