@charset "utf-8";
@use "helpers";
@use "themes/theme";
@use "components";
@use "layout";

/* #region miscallaneous */

body {
    font-family: "Segoe UI", system-ui, sans-serif !important;
    margin: 0;
    background-color: var(--body-bg); 
    color: var(--body-fg); 
}

.group{
    display: flex;
    align-items: center;

}

hr {
    border: none;
    border-top: 2px solid var(--body-bg);
    border-bottom: 2px solid var(--body-bg);
    color: var(--body-bg);
    overflow: visible;
    text-align: center;
    height: 4px;
}

a {
    text-decoration: none;
    color: var(--link-fg); 
}
.external {
    cursor: alias !important;
}


figure {
    img {
        height: auto;
        max-width: 100%;
    }
    .rounded {
        border-radius: 100%;
    }
}

.title {
  font-weight: 900;
  color: var(--title-fg);
}

.subtitle {
  font-weight: 600;
  color: var(--subtitle-fg);
}

.is-github {
    color: var(--github-fg) !important;
    background-color: var(--github-bg) !important;
}

.x64 {
    height: 64px;
    width: 64px;
}

.x128 {
    height: 128px;
    width: 128px;
}

.content {
    h1 {
        font-weight: 900;
        color: var(--title-fg);
    }
}

.button {
    padding: .5rem;
    border-radius: .25rem;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* #endregion */