@charset "utf-8";

// TODO import only used scss from bulma
@import "../../node_modules/bulma/sass/_index.scss";

:root {
    --color-github: #25292e
    --color-github-text: #F0F6FC
}

@media (prefers-color-scheme: dark) {
    :root {
        --bulma-body-background-color: #2d3c29;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bulma-body-background-color: #a5df7a;
    }
}

.is-github {
    background-color: var(--color-github) !important;
    color: var(--color-github-text) !important;
}

.h-min {
    height: min-content;
}